body {
 
}

header {
  background-color: black;
  float: inherit;
}

nav {
  background-color: gray;
  clear: both;
  padding: 20px;
}

article {
  background-color: white;
  overflow: auto;
  float: left;
  margin: 0 1.5%;
  width: 55%;
}

aside {
  float: right;
  margin: 0 1.5%;
  width: 35%;
  background-color: white;
  border: solid gray;
  margin: 20px;
}

footer {
  text-align: center;
  color: white;
  clear: both;
  background-color: black;
  padding: 50px;
}

.call-to-action {
  color: red;
  float: right;
}


